
/* parallaxie SECTION
-------------------------------------------------- */
        #main_bg{
            height: 400px;
            position: relative;
            background: url("../image/test3.jpg");
        }
        #shoe-01,#shoe-02{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #shoe-01{
            //background: url(../image/print_hp.png");
        }

        #shoe-02{
            //background: url("../image/computer.png");
        }

		.parallaxie h2 {
			font-size: 55px;
			font-weight: 800;
			margin-top: 0%;
			color: #fff;
			position: relative;
			float: left;
		}
		.parallaxie p {
			//background-size: cover;
			color: #fff;
			position: relative;
			float: left;
		}
        .heading-container{
            display: table;
            width: 100%;
        }
        .heading{
            height: 400px;
            color: #000;
            display: table-cell;
            vertical-align: middle;
        }
        .heading .btn{
            margin: 30px 16px 16px;
        }
